* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 40px;
}

input {
  background-color: #f2f2f2;
  border: 1px solid #c2c2c2;
  padding: 5px;
  border-radius: 5px;
  max-width: 400px;
}

.input-alerta {
  border: 2px solid red;
}

button {
  background-color: #c2c2c2;
  border: none;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #d9d9d9;
  transition: all 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  padding: 20px;
}